<ion-header>
  <ion-toolbar>
    <ion-title>
      511 Traffic updates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get real time updates on Traffic in SF Bay</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          This app requires that you manually retreive a token from 511 website.
        </p>
      </ion-card-content>
    </ion-card>
   
</ion-content>
